@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    background-color: black;
}

body {
    color: white;
    font-family: Comfortaa, monospace;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.0625em;
}

#two-home {
    display: flex;
    flex-direction: row-reverse;
}

#home-button {
    height: 2em;
    padding: 20px;
}

.main-content {
    display: grid;
    width: 80vw;
    height: 80vh;
    min-width: 300px;
    margin: 0 auto;
    align-items: center;
}

svg {
    margin: auto;
    overflow-clip-margin: 10px;
}

.content-item {
    padding: 25px;
    border: 2px solid white;
    margin: 20px 0;
}

#ellipse {
    width: 80%; 
    height: 40%;
    font-size: 0.5em;
}

#broad-subject {
    letter-spacing: 0.125rem;
}

.cap-title {
    text-transform: uppercase;
}

#social-media ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

#social-media li {
    padding: 0 10px;
}

@media (max-width: 315px) {
    #main-portal {
        width: 100vw;
        min-width: 50px;
    }
}