@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    background-color: black;
}

body {
    color: white;
    font-family: Comfortaa, monospace;
}

#nav {
    text-transform: uppercase;
    text-align: center;
}

#nav ul {
    margin: 0;
}
  
#nav li {
    display: inline; /* makes list items appear on same line */
}
  
#nav a {
    /*padding: 0.5em; /* in this case padding is only applied to left and right sides, not top and bottom, because element is inline 
    color: white;
    text-decoration: none; */
    display: inline-block; /* this allows for padding on top and bottom */
}

main {
    width: 100%;
}

#site-title {
    display: grid;
    width: 33%;
    height: 70vh;
    margin: 0 auto;
    align-items: center;
}

svg {
    margin: auto;
    overflow-clip-margin: 5px;
}

#ellipse {
    width: 90%; 
    height: 45%;
    font-size: 0.5em;
}

.cap-title {
    text-transform: uppercase;
}